form{
  label{
    margin-right: 15px;
  }
  input{
    margin-right: 10px;
  }

}
.btn1 {
  text-align: end !important;
}

.form{
  text-align: end;
  margin-bottom: 5px;
  span{
    margin-right: 10px;
  }
}
